
@import '../../styles/palette';

.note-box {
  z-index: 1000; /* Большой z-index, т.к. заметка драгится по странице и может залазить на др элементы. */
  background: @calendarHeaderLine;
  border: 1px solid @divider-color;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 @shadow-color;
}

.note-box__header {
  position: relative;
  height: 30px;
  border-bottom: 1px solid @divider-color;
  background: @currentDatePickerColor;
}

.note-box__order-number {
  position: absolute;
  color: @secondary-text-color;
  z-index: 1;
  left: 15px;
  height: 30px;
  line-height: 30px;
}

.note-box__caption {
  position: absolute;
  font-size: 16px;
  width: 60%;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  height: 30px;
  line-height: 30px;
  left: 70px;
}

.note-box__sortable-handle {
  position: absolute;
  cursor: move;
  z-index: 0;
  height: 30px;
  width: 150px;
  right: 0;
  border-radius: 0 5px 0 30px;
  background: url('./ribbed-handle.png');
}

.note-box__date {
  font-size: 14px;
  padding-left: 20px;
  color: @secondary-text-color;
}

.note-box__delete {
  position: absolute;
  z-index: 1;
  right: 0;
}

.btn-sm.note-box__delete {
  outline: none;
  border-radius: 0 5px 0 0;
}

.note-box__collapse {
  display: block;
  margin: 0 auto;
  outline: none;
}

.note-box__footer-box {
  padding-bottom: 10px;
  background: @white;
}

.note-box__content {
  overflow: hidden;
}

.note-box__content_collapsed {
  height: 80px;
}