@background-color      : #fafafa;
@logo-color            : #ffffff;
@logo-color-hover      : #e4f5ff;
@header-background     : #97f06f;
@header-icon           : #3b8f1e;
@header-icon-hover-bg  : #b8f09e;
@header-shadows-color  : #488524;
@shadow-color          : rgba(0,0,0,0.1);
@light-font-color      : #e9ffe6;
@footer-color          : #b6d9b2;
@dark-font-color       : #3e623a;



@text-color            : rgba(0,0,0,0.87);
@additional-text-color : rgba(0,0,0,0.67);
@secondary-text-color  : rgba(0,0,0,0.54);
@hint-text-color       : rgba(0,0,0,0.26);
@divider-color         : rgba(0,0,0,0.12);
@primary-color         : #00BCD4;
@accent-color          : #FF4081;
@contrast-text-color   : rgba(255,255,255,0.9);
@card-background-color : #fff;